table, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

header{
	padding:25px 0px;/*Marge verticale*/
	background-color:#99A79A; /*Couleur de fond*/
	text-align:center;/*texte centré*/
}

th,td {
  padding: 15px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
